# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS Files
.DS_Store
Thumbs.db

# External native build
.externalNativeBuild
.cxx

# Captures
captures/

# Logs
*.log

# Keystore files (muy importante)
*.jks
*.keystore